body {
	display: flex;
	min-height: 100vh;
	margin: 0;
	background-color: #e9fce8;

	font-family: 'Times New Roman', sans-serif;
	font-size: 24px;
	color: #e8fcf1;
	text-shadow: 2px 2px 5px black;
}

#sidebar {
	margin-left: 40px;
	background-color: #b1fcab;
}

#sidebar ul {
	list-style: none;
	margin: 0;
	padding: 15px;
}
