

body, main {
	width: 100%;
	margin: 0; /* Remove default white space, edges hit actual page edges */
	padding: 0;
}


#links ul {
  list-style: none;
  display: flex;
  justify-content: space-between; /* Spaces each element out evenly */
  margin: 0;
  padding: 0;
  cursor: pointer;
}

#logo {
  width: 100px;
  height: auto;
  float: left;
  margin-right: 10px;
}

#header h1 {
 line-height: 100px;
 margin: 0;
 padding: 0;
}